html {
  font-size: 16px;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  color: #424242;
}

.col {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.align-content-right {
  flex-wrap: wrap;
  justify-content: flex-end;
}

.center-all {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-vert {
  display: flex;
  justify-content: center;
}

.center-horz {
  display: flex;
  align-items: center;
}

.left-corner-wrap {
  position: fixed;
  width: 560px;
  height: 190px;
  top: 0px;
  left: 0px;
  right: unset;
  filter: drop-shadow(0px 3px 30px rgba(0, 0, 0, 0.25));
  z-index: 10;
}

.right-corner-wrap {
  position: fixed;
  width: 475px;
  height: 180px;
  top: 0px;
  left: unset;
  right: 0px;
  filter: drop-shadow(0px 3px 30px rgba(0, 0, 0, 0.25));
  z-index: 10;
}

.left-corner {
  -webkit-clip-path: polygon(0 0, 0% 100%, 100% 0);
  background-color: #F8F8F8;
  position: fixed;
  width: 560px;
  height: 190px;
  top: 0px;
  left: 0px;
  right: unset;
}

.right-corner {
  -webkit-clip-path: polygon(100% 0, 0 0, 100% 100%);
          clip-path: polygon(100% 0, 0 0, 100% 100%);
  background-color: #F8F8F8;
  position: fixed;
  width: 475px;
  height: 180px;
  top: 0px;
  left: unset;
  right: 0px;
}

.section-title {
  margin: 15px 0 0 0;
  padding: 65px 20px 65px 20px;
  position: relative;
  max-width: 1500px;
  margin: 0;
  max-height: 50px;
}
.section-title > h2 {
  margin: 0;
  padding: 0;
  color: #424242;
  font-weight: 900;
  font-size: 2.2rem;
  max-width: 670px;
  width: 100%;
}

@media only screen and (max-width: 540px) {
  .section-title {
    margin: 15px 0 0 0;
    padding: 45px 20px 45px 20px;
  }
  .section-title > h2 {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 370px) {
  .section-title {
    margin: 15px 0 0 0;
    padding: 25px 20px 25px 20px;
  }
  .section-title > h2 {
    font-size: 1.1rem;
  }
}
@media only screen and (max-width: 700px) {
  .left-corner-wrap {
    position: fixed;
    width: 211px;
    height: 83px;
    top: 0px;
    left: 0px;
    right: unset;
    filter: drop-shadow(0px 3px 30px rgba(0, 0, 0, 0.25));
  }

  .left-corner {
    -webkit-clip-path: polygon(0 0, 0% 100%, 100% 0);
    background-color: #F8F8F8;
    position: fixed;
    width: 211px;
    height: 83px;
    top: 0px;
    left: 0px;
    right: unset;
  }

  .right-corner-wrap {
    position: fixed;
    width: 103px;
    height: 170px;
    top: 0px;
    left: unset;
    right: 0px;
    filter: drop-shadow(0px 3px 30px rgba(0, 0, 0, 0.25));
  }

  .right-corner {
    -webkit-clip-path: polygon(100% 0, 0 0, 100% 100%);
            clip-path: polygon(100% 0, 0 0, 100% 100%);
    background-color: #F8F8F8;
    position: fixed;
    width: 103px;
    height: 170px;
    top: 0px;
    left: unset;
    right: 0px;
  }
}
.about-me-container {
  margin-top: 60px;
}

.about-me-desc {
  position: relative;
  color: #424242;
  font-weight: 700;
  text-align: center;
}
.about-me-desc > p:nth-child(1) {
  font-size: 2.5rem;
}
.about-me-desc > p:nth-child(2) {
  font-size: 1.8rem;
}

.about-me-element {
  margin: 10px;
  padding: 10px;
}
.about-me-element h5 {
  margin: 0;
  padding: 0;
  font-size: 1.3rem;
  font-weight: 400;
  text-align: center;
}
.about-me-element p {
  font-weight: 900;
  font-size: 1.5rem;
  text-align: center;
}

.underline-square {
  margin-top: 10px;
  height: 17px;
  width: 250px;
  background-color: #F28E8E;
}

.square {
  transform: rotateZ("45deg");
  position: absolute;
  z-index: -1;
}

.square-1 {
  left: 0px;
  top: 0px;
  width: 256px;
  height: 256px;
  background-color: #5DAEEA;
}

.square-2 {
  width: 390px;
  height: 390px;
  background-color: #F28E8E;
}

.square-3 {
  bottom: 0;
  right: 0;
  width: 256px;
  height: 256px;
  background-color: #BC8ED9;
}

.about-me-details {
  margin-top: 100px;
  display: grid;
  grid-template-columns: auto auto auto;
}

@media only screen and (max-width: 1300px) {
  .square-1 {
    width: 200px;
    height: 200px;
  }

  .square-2 {
    width: 300px;
    height: 300px;
  }

  .square-3 {
    width: 200px;
    height: 200px;
  }
}
@media only screen and (max-width: 1110px) {
  .about-me-details {
    margin-top: 100px;
    grid-template-columns: auto;
  }
}
@media only screen and (max-width: 1000px) {
  .about-me-desc > p:nth-child(1) {
    font-size: 1.8rem;
  }
  .about-me-desc > p:nth-child(2) {
    font-size: 1.4rem;
  }

  .about-me-element h5 {
    font-size: 1.1rem;
  }
  .about-me-element p {
    font-size: 1.3rem;
  }

  .square-1 {
    width: 150px;
    height: 150px;
  }

  .square-2 {
    width: 250px;
    height: 250px;
  }

  .square-3 {
    width: 150px;
    height: 150px;
  }
}
@media only screen and (max-width: 700px) {
  .about-me-desc > p:nth-child(1) {
    font-size: 1.5rem;
  }
  .about-me-desc > p:nth-child(2) {
    font-size: 1.2rem;
  }

  .about-me-element h5 {
    font-size: 1rem;
  }
  .about-me-element p {
    font-size: 1.15rem;
  }

  .square-1 {
    width: 125px;
    height: 125px;
  }

  .square-2 {
    width: 200px;
    height: 200px;
  }

  .square-3 {
    width: 125px;
    height: 125px;
  }
}
@media only screen and (max-width: 370px) {
  .about-me-desc > p:nth-child(1) {
    font-size: 1.2rem;
  }
  .about-me-desc > p:nth-child(2) {
    font-size: 0.9rem;
  }

  .about-me-element {
    margin: 0px;
    padding: 0px;
  }
  .about-me-element h5 {
    font-size: 0.9rem;
  }
  .about-me-element p {
    font-size: 1rem;
  }

  .square-1 {
    width: 100px;
    height: 100px;
  }

  .square-2 {
    width: 170px;
    height: 170px;
  }

  .square-3 {
    width: 100px;
    height: 100px;
  }
}