html {
  font-size: 16px;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  color: #424242;
}

.flex-wrap {
  flex-wrap: wrap;
}

.col {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.align-content-right {
  flex-wrap: wrap;
  justify-content: flex-end;
}

.align-content-left {
  flex-wrap: wrap;
  justify-content: flex-start;
}

.center-all {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-vert {
  display: flex;
  justify-content: center;
}

.center-horz {
  display: flex;
  align-items: center;
}

.left-corner-wrap {
  position: fixed;
  width: 330px;
  height: 60px;
  top: 0px;
  left: 0px;
  right: unset;
  filter: drop-shadow(0px 3px 30px rgba(0, 0, 0, 0.25));
  z-index: 25;
}

.right-corner-wrap {
  position: fixed;
  width: 200px;
  height: 60px;
  top: 0px;
  left: unset;
  right: 0px;
  filter: drop-shadow(0px 3px 30px rgba(0, 0, 0, 0.25));
  z-index: 25;
}

.section-title {
  margin: 15px 0 0 0;
  padding: 65px 20px 65px 20px;
  position: relative;
  max-width: 1500px;
  margin: 0;
  max-height: 50px;
}
.section-title > h2 {
  margin: 0;
  padding: 0;
  color: #424242;
  font-weight: 900;
  font-size: 2.2rem;
  max-width: 670px;
  width: 100%;
}

@media only screen and (max-width: 540px) {
  .section-title {
    margin: 15px 0 0 0;
    padding: 45px 20px 45px 20px;
  }
  .section-title > h2 {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 370px) {
  .section-title {
    margin: 15px 0 0 0;
    padding: 25px 20px 25px 20px;
  }
  .section-title > h2 {
    font-size: 1.1rem;
  }
}
@media only screen and (max-width: 700px) {
  .left-corner-wrap {
    position: fixed;
    width: 211px;
    height: 83px;
    top: 0px;
    left: 0px;
    right: unset;
    filter: drop-shadow(0px 3px 30px rgba(0, 0, 0, 0.25));
  }

  .right-corner-wrap {
    position: fixed;
    width: 103px;
    height: 170px;
    top: 0px;
    left: unset;
    right: 0px;
    filter: drop-shadow(0px 3px 30px rgba(0, 0, 0, 0.25));
  }
}
.loading-spinner {
  width: 50px;
  height: 50px;
  border: 3px solid #F8F8F8;
  border-radius: 50%;
  border-top-color: #BC8ED9;
  animation: 1s spin infinite linear;
  transition: 0.5s;
}

.info-container {
  position: relative;
}

.spin-container {
  position: absolute;
  top: 0px;
}
.spin-container.anim-in {
  animation: anim-in ease-in-out 0.5s;
  animation-fill-mode: forwards;
}
.spin-container.anim-out {
  animation: anim-out ease-in-out 0.5s;
  animation-fill-mode: forwards;
}

.form-social-container {
  display: grid;
  grid-template-columns: auto auto;
  margin-bottom: 75px;
}
.form-social-container > .col:nth-child(1) {
  max-width: 80%;
  min-width: 80%;
}
.form-social-container > .col:nth-child(2) {
  max-width: 20%;
  min-width: 20%;
}
.form-social-container > .col:nth-child(2) > h3 {
  max-width: 175px;
}

.btn {
  font-family: "Montserrat", sans-serif;
  font-size: 1.3rem;
  font-weight: 900;
  letter-spacing: 3px;
  background: #BC8ED9;
  border: none;
  text-transform: uppercase;
  padding: 12px;
  margin: 10px 10px 0px 0px;
  cursor: pointer;
  transition: 0.2s linear;
  position: relative;
  color: #424242;
}

.btn:hover {
  color: #424242;
  background: #5DAEEA;
}

.message-info {
  position: absolute;
  top: 0px;
  max-width: 250px;
  text-align: center;
  margin-top: 15px;
  font-size: 1.1rem;
  font-weight: 700;
}
.message-info.anim-in {
  animation: anim-in ease-in-out 0.5s;
  animation-fill-mode: forwards;
}
.message-info.anim-out {
  animation: anim-out ease-in-out 0.5s;
  animation-fill-mode: forwards;
}

@keyframes anim-in {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes anim-out {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}
.btn2:hover::before {
  transform: scaleY(1);
}

.contact-me-container {
  margin-top: 75px;
}
.contact-me-container h2 {
  margin-bottom: 0px;
  font-weight: 900;
  font-size: 5.75rem;
}
.contact-me-container h3 {
  font-weight: 900;
  font-size: 1.4rem;
  margin-bottom: 10px;
}
.contact-me-container p {
  max-width: 70%;
  margin-top: 10px;
  font-size: 1.3rem;
  font-weight: 700;
}

.contact-form {
  display: grid;
  grid-template-columns: auto auto;
}
.contact-form label {
  font-size: 16px;
  margin-bottom: 15px;
}
.contact-form > div {
  margin-right: 20px;
  margin-bottom: 20px;
}

input[type=text], textarea {
  margin: 5px 10px 5px 0px;
  padding: 5px 10px 5px 0px;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #424242;
  background-color: transparent;
  font-size: 1rem;
  font-weight: 900;
  max-width: 350px;
  min-width: 350px;
  color: #424242;
}
input[type=text]:focus, input[type=text]:active, textarea:focus, textarea:active {
  outline: none;
}

textarea {
  height: 32px;
  max-width: 350px;
  min-width: 350px;
  max-height: 350px;
  min-height: 32px;
}

.square-social-background {
  position: relative;
}
.square-social-background div {
  position: absolute;
  transform: rotateZ(45deg);
  width: 95px;
  height: 95px;
  z-index: -1;
  filter: drop-shadow(0px 3px 30px rgba(0, 0, 0, 0.25));
}
.square-social-background > .sq-s-1 {
  background-color: #BC8ED9;
  left: -125px;
  top: 75px;
}
.square-social-background > .sq-s-2 {
  background-color: #F28E8E;
  left: -50px;
}
.square-social-background > .sq-s-3 {
  background-color: #5DAEEA;
  top: 150px;
  left: -50px;
}

.contact-title {
  position: relative;
  min-height: 25px;
  margin-bottom: 70px;
}
.contact-title > div > div {
  position: absolute;
  height: 25px;
}
.contact-title .line-1 {
  background-color: #BC8ED9;
  width: 30%;
  left: 0;
}
.contact-title .line-2 {
  background-color: #F28E8E;
  width: 25%;
  left: 30%;
}
.contact-title .line-3 {
  background-color: #5DAEEA;
  width: 45%;
  left: 55%;
}

.social-media > span {
  font-size: 1.4rem;
  font-weight: 700;
}
.social-media > h3 {
  text-align: center;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
@media only screen and (max-width: 1450px) {
  .contact-me-container h2 {
    font-size: 3.7rem;
  }
}
@media only screen and (max-width: 1270px) {
  .form-social-container {
    grid-template-columns: auto;
  }
  .form-social-container > .col:nth-child(1) {
    max-width: 100%;
    min-width: 100%;
  }
  .form-social-container > .col:nth-child(2) {
    max-width: 100%;
    min-width: 100%;
  }
  .form-social-container > h3 {
    font-size: 1.25rem;
  }

  .contact-me-container p {
    max-width: 100%;
    font-size: 1.15rem;
  }

  .social-media {
    margin-top: 60px;
  }

  .contact-me-container {
    margin-bottom: 200px;
  }
}
@media only screen and (max-width: 1000px) {
  .contact-me-container h2 {
    font-size: 2.5rem;
  }
}
@media only screen and (max-width: 970px) {
  .contact-form {
    grid-template-columns: auto;
  }
}
@media only screen and (max-width: 700px) {
  input[type=text], textarea {
    max-width: 300px;
    min-width: 300px;
  }

  textarea {
    max-width: 300px;
    min-width: 300px;
    max-height: 300px;
  }

  .contact-me-container h3 {
    font-size: 1.2rem;
  }
  .contact-me-container h2 {
    font-size: 1.9rem;
  }
}
@media only screen and (max-width: 540px) {
  .contact-me-container h2 {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 370px) {
  input[type=text], textarea {
    max-width: 250px;
    min-width: 250px;
    font-size: 0.9rem;
  }

  textarea {
    max-width: 250px;
    min-width: 250px;
    max-height: 250px;
  }

  .contact-me-container h3 {
    font-size: 1.05rem;
  }
  .contact-me-container h2 {
    font-size: 1.2rem;
  }
  .contact-me-container p {
    font-size: 1rem;
  }

  .button > div > span {
    margin-left: 15px;
    font-size: 1.1rem;
    font-weight: 900;
  }
  .button > div > span:hover > .button-background {
    width: 250px;
  }
}