@import 'Variables';
@import 'Global';

.loading-spinner {
    width: 50px;
    height: 50px;
    border: 3px solid $page-element-color;
    border-radius: 50%;
    border-top-color: $first-color;
    animation: 1s spin infinite linear;
    transition: .5s;
}

.info-container{
    position:relative;
}

.spin-container {
    position: absolute;
    top: 0px;

    &.anim-in {
        animation: anim-in ease-in-out .5s;
        animation-fill-mode: forwards;
    }

    &.anim-out {
        animation: anim-out ease-in-out .5s;
        animation-fill-mode: forwards;
    }
}


.form-social-container {
    display: grid;
    grid-template-columns: auto auto;
    margin-bottom: 75px;

    & > .col:nth-child(1) {
        max-width: 80%;
        min-width: 80%;
    }

    & > .col:nth-child(2) {
        max-width: 20%;
        min-width: 20%;

        & > h3 {
            max-width: 175px;
        }
    }
}

.btn {
    font-family: "Montserrat", sans-serif;
    font-size: 1.3rem;
    font-weight: 900;
    letter-spacing: 3px;
    background: $first-color;
    border: none;
    text-transform: uppercase;
    padding: 12px;
    margin: 10px 10px 0px 0px;
    cursor: pointer;
    transition: .2s linear;
    position: relative;
    color: $text-color;
}

.btn:hover {
    color: $text-color;
    background: $third-color;
}

.message-info {
    position: absolute;
    top: 0px;
    max-width: 250px;
    text-align: center;
    margin-top: 15px;
    font-size: 1.1rem;
    font-weight: 700;

    &.anim-in {
        animation: anim-in ease-in-out .5s;
        animation-fill-mode: forwards;
    }

    &.anim-out {
        animation: anim-out ease-in-out .5s;
        animation-fill-mode: forwards;
    }
}

@keyframes anim-in{
    0%{
        transform: translateY(-20px);
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes anim-out {
    0% {
        transform: translateY(0px);
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translateY(-20px);
    }
}
.btn2:hover::before {
    transform: scaleY(1);
}

.contact-me-container {
    margin-top: 75px;

    & h2 {
        margin-bottom: 0px;
        font-weight: 900;
        font-size: 5.75rem;
    }

    & h3 {
        font-weight: 900;
        font-size: 1.4rem;
        margin-bottom: 10px;
    }

    & p {
        max-width: 70%;
        margin-top: 10px;
        font-size: 1.3rem;
        font-weight: 700;
    }
}


.contact-form {
    display: grid;
    grid-template-columns: auto auto;

    & label {
        font-size:16px;
        margin-bottom: 15px;
    }

    & > div {
        margin-right: 20px;
        margin-bottom: 20px;
    }
}

input[type=text], textarea {
    @include marg-pad((5px 10px 5px 0px),(5px 10px 5px 0px));
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid $text-color;
    background-color: transparent;
    font-size: 1rem;
    font-weight: 900;
    max-width: 350px;
    min-width: 350px;
    color: $text-color;

    &:focus, &:active {
        outline: none;
    }
}

textarea{
    height:32px;
    max-width:350px;
    min-width:350px;
    max-height:350px;
    min-height: 32px;
}

.square-social-background {
    position: relative;

    & div {
        position: absolute;
        transform: rotateZ(45deg);
        width: 95px;
        height: 95px;
        z-index: -1;
        filter: drop-shadow(0px 3px 30px rgba(0, 0, 0, 0.25));
    }

    & > .sq-s-1 {
        background-color: $first-color;
        left: -125px;
        top: 75px;
    }

    & > .sq-s-2 {
        background-color: $second-color;
        left: -50px;
    }

    & > .sq-s-3 {
        background-color: $third-color;
        top: 150px;
        left: -50px;
    }
}

.contact-title {
    position: relative;
    min-height: 25px;
    margin-bottom: 70px;

    & > div > div {
        position: absolute;
        height: 25px;
    }

    & .line-1 {
        background-color: $first-color;
        width: 30%;
        left: 0;
    }

    & .line-2 {
        background-color: $second-color;
        width: 25%;
        left: 30%;
    }

    & .line-3 {
        background-color: $third-color;
        width: 45%;
        left: 55%;
    }
}

.social-media {
    & > span {
        font-size: 1.4rem;
        font-weight: 700;
    }

    & > h3{
        text-align: center;
    }
}

@keyframes spin {
    to{
        transform: rotate(360deg);
    }
}

@media only screen and (max-width:1450px) {
    .contact-me-container {
        & h2 {
            font-size: 3.7rem;
        }
    }
}

@media only screen and (max-width:1270px){
    .form-social-container {
        grid-template-columns: auto;

        & > .col:nth-child(1) {
            max-width: 100%;
            min-width: 100%;
        }

        & > .col:nth-child(2) {
            max-width: 100%;
            min-width: 100%;
        }
        & > h3 {
            font-size:1.25rem;
        }
    }
    .contact-me-container {
        & p {
            max-width: 100%;
            font-size:1.15rem;
        }
    }
    .social-media {
        margin-top:60px;
    }
    .contact-me-container {
        margin-bottom: 200px;
    }
}
@media only screen and (max-width:1000px) {
    .contact-me-container {
        & h2 {
            font-size: 2.5rem;
        }
    }
}

@media only screen and (max-width:970px){
    .contact-form {
        grid-template-columns: auto;
    }
}
@media only screen and (max-width:700px) {
    input[type=text], textarea {
        max-width: 300px;
        min-width: 300px;
    }
    textarea {
        max-width: 300px;
        min-width: 300px;
        max-height: 300px;
    }
    .contact-me-container {
        & h3 {
            font-size: 1.20rem;
        }
        & h2 {
            font-size: 1.9rem;
        }
    }
}
@media only screen and (max-width:540px) {
    .contact-me-container {
        & h2 {
            font-size: 1.5rem;
        }
    }
}

@media only screen and (max-width:370px) {
    input[type=text], textarea {
        max-width: 250px;
        min-width: 250px;
        font-size: 0.9rem;
    }

    textarea {
        max-width: 250px;
        min-width: 250px;
        max-height: 250px;
    }

    .contact-me-container {
        & h3 {
            font-size: 1.05rem;
        }

        & h2 {
            font-size: 1.2rem;
        }

        & p {
            font-size: 1.00rem;
        }
    }

    .button {
        & > div > span {
            margin-left: 15px;
            font-size: 1.1rem;
            font-weight: 900;

            &:hover {
                & > .button-background {
                    width: 250px;
                }
            }
        }
    }
}


