@import 'Variables';
@import 'Global';

.footer-wrap{
    position:relative;
}
.footer-content {
    position: absolute;
    width:1000%;
    height:70px;
    background-color: #424242;
    & > h2 {
        color: white;
        margin:0;
        font-size:1rem;
    }
}