@import 'Variables';

@mixin transform($position, $width, $height, $top, $left, $right) {
    position: $position;
    width: $width;
    height: $height;
    top: $top;
    left: $left;
    right: $right;
}
@mixin marg-pad($margin, $padding){
    margin: $margin;
    padding: $padding;
}

html {
    font-size: 16px;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: $text-color;

}

.col{
    display: flex;
    flex-direction:column;
}
.row{
    display:flex;
    flex-direction: row;
}
.align-content-right {
    flex-wrap: wrap;
    justify-content: flex-end;
}
.center-all {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-vert {
    display: flex;
    justify-content: center;
}

.left-corner-wrap {
    @include transform(fixed, 560px, 190px, 0px, 0px, unset);
    filter: drop-shadow(0px 3px 30px rgba(0, 0, 0, 0.25));
    z-index:10;
}

.right-corner-wrap {
    @include transform(fixed, 475px, 180px, 0px, unset, 0px);
    filter: drop-shadow(0px 3px 30px rgba(0, 0, 0, 0.25));
    z-index:10;
}

.left-corner {
    -webkit-clip-path: polygon(0 0, 0% 100%, 100% 0);
    background-color: $page-element-color;
    @include transform(fixed, 560px, 190px, 0px, 0px, unset);
}

.right-corner {
    clip-path: polygon(100% 0, 0 0, 100% 100%);
    background-color: $page-element-color;
    @include transform(fixed, 475px, 180px, 0px, unset, 0px);
}

.section-title {
    @include marg-pad((15px 0 0 0),(65px 20px 65px 20px));
    position: relative;
    max-width: 1500px;
    margin: 0;
    max-height: 50px;

    & > h2 {
        @include marg-pad(0,0);
        color: $text-color;
        font-weight: 900;
        font-size: 2.2rem;
        max-width: 670px;
        width: 100%;
    }
}

@media only screen and (max-width:540px){
    .section-title {
        @include marg-pad((15px 0 0 0),(45px 20px 45px 20px));

        & > h2 {
            font-size: 1.5rem;
        }
    }
}
@media only screen and (max-width:370px) {
    .section-title {
        @include marg-pad((15px 0 0 0),(25px 20px 25px 20px));

        & > h2 {
            font-size: 1.1rem;
        }
    }
}

@media only screen and (max-width:700px) {
  
    .left-corner-wrap {
        @include transform(fixed, 211px, 83px,0px, 0px, unset);
        filter: drop-shadow(0px 3px 30px rgba(0, 0, 0, 0.25));
    }

    .left-corner {
        -webkit-clip-path: polygon(0 0, 0% 100%, 100% 0);
        background-color: $page-element-color;
        @include transform(fixed, 211px, 83px,0px, 0px, unset);
    }

    .right-corner-wrap {
        @include transform(fixed, 103px, 170px, 0px, unset, 0px);
        filter: drop-shadow(0px 3px 30px rgba(0, 0, 0, 0.25));
    }

    .right-corner {
        clip-path: polygon(100% 0, 0 0, 100% 100%);
        background-color: $page-element-color;
        @include transform(fixed, 103px, 170px, 0px, unset, 0px);
    }
}

