@import 'Global';

.landing-text-container {
    @include transform(relative, 100%, 100vh, unset, unset, unset);
    @include marg-pad(0, 0);
    min-height: 770px;
}

.landing-text {
    position: relative;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;
    max-width: 820px;

    &.active > h1 {
        font-size: 4.5rem;
        margin-top: 0;
        margin-bottom: 15px;
        animation: text-fade-in .7s ease-out;
        animation-delay: 2s;
        animation-fill-mode: forwards;
        opacity: 0;
    }

    &.active:nth-child(1), &.active :nth-child(3) {
        font-size: 1.2rem;
        margin-top: 0;
        margin-bottom: 0;
        letter-spacing: 0.15rem;
        font-weight: bold;
        animation: text-fade-in .7s ease-out;
        animation-delay: 2s;
        animation-fill-mode: forwards;
        opacity: 0;
    }

    &.active:nth-child(1) {
        font-weight: normal;
    }
}

@keyframes text-fade-in {
    0% {
        transform: translateY(-20px);
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media only screen and (max-width: 770px){
    .landing-text
    {
        & > h1 {
            font-size: 4.0rem;
            margin-top: 0;
            margin-bottom: 15px;
        }
    }
}

@media only screen and (max-width: 700px){
    .landing-text-container {
        min-height: 460px;
    }
    .landing-text {
        max-width: 650px;

        & > h1 {
            font-size: 3rem;
        }

        &:nth-child(1), & :nth-child(3) {
            font-size: 1.1rem;
        }
    }
}
@media only screen and (max-width: 420px) {
    .landing-text-container {
        min-height: 460px;
    }

    .landing-text {
        max-width: 80vw;

        & > h1 {
            font-size: 2rem;
        }

        &:nth-child(1), & :nth-child(3) {
            font-size: 0.9rem;
            letter-spacing: 0.10rem;
        }
    }
}