@import 'Variables';
@import 'Global';

.logo {
    @include marg-pad((10px 8px 10px 8px),(10px 8px 10px 8px));
}
.name {
    @include marg-pad((14px 8px 1px 3px),(14px 8px 1px 3px));
    font-family: Bahnschrift;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    transition: .4s;

    &.active {
        color: $background-color;
    }
}

.proffesion {
    @include marg-pad((2px 8px 10px 3px),(2px 8px 10px 3px));
    font-family: Bahnschrift;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 3px;
    transition: .4s;

    &.active {
        color: $background-color;
    }
}

@media only screen and (max-width:700px) {
    .name, .proffesion {
        display: none;
    }
    .logo {
        @include marg-pad((4px),(4px));
        & > img {
            width: 43px;
            height: 45px;
        }
    }
}

