@import 'Variables';
@import 'Global';

.menu-text {
    @include marg-pad((10px 6px 10px 8px),(10px 6px 10px 8px));
    @include transform(relative, 64px, 64px, 0px, unset, 0px);
    font-family: Bahnschrift;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: $text-color;
}

.menu-button {
    margin-top: 33px;
    margin-right: 33px;
    position: relative;
    width: 40px;
    height: 36px;
    cursor: pointer;

    & > div:nth-child(1) {
        top: 0;
    }

    & > div:nth-child(2) {
        top: 15px;
    }

    & > div:nth-child(3) {
        top: 30px;
    }

    &.hover > div:nth-child(1) {
        transform: translateY(-3px);
        background-color: #686868;
    }

    &.hover > div:nth-child(2) {
        background-color: #686868;
    }

    &.hover > div:nth-child(3) {
        transform: translateY(3px);
        background-color: #686868;
    }

    &.open > div:nth-child(1) {
        background-color: $background-color;
        transform: rotate(45deg) translateY(14.5px) translateX(7px);
    }

    &.open > div:nth-child(2) {
        background-color: transparent;
        transform: translateX(-50px);
    }

    &.open > div:nth-child(3) {
        background-color: $background-color;
        transform: rotate(-45deg) translateY(-14.5px) translateX(7px);
    }
}



.menu-element {
    @include marg-pad(0,0);
    position: absolute;
    width: 40px;
    height: 5px;
    left: 0;
    background-color: $text-color;
    border-radius: 10px;
    transition: 0.3s;
}

@media only screen and (max-width:700px) {
    .menu-text {
        visibility:hidden;
        position:fixed;
    }
    .menu-button {
        margin-top: 15px;
        margin-right: 10px;
    }
}



