html {
  font-size: 16px;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  color: #424242;
}

.flex-wrap {
  flex-wrap: wrap;
}

.col {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.align-content-right {
  flex-wrap: wrap;
  justify-content: flex-end;
}

.align-content-left {
  flex-wrap: wrap;
  justify-content: flex-start;
}

.center-all {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-vert {
  display: flex;
  justify-content: center;
}

.center-horz {
  display: flex;
  align-items: center;
}

.left-corner-wrap {
  position: fixed;
  width: 330px;
  height: 60px;
  top: 0px;
  left: 0px;
  right: unset;
  filter: drop-shadow(0px 3px 30px rgba(0, 0, 0, 0.25));
  z-index: 25;
}

.right-corner-wrap {
  position: fixed;
  width: 200px;
  height: 60px;
  top: 0px;
  left: unset;
  right: 0px;
  filter: drop-shadow(0px 3px 30px rgba(0, 0, 0, 0.25));
  z-index: 25;
}

.section-title {
  margin: 15px 0 0 0;
  padding: 65px 20px 65px 20px;
  position: relative;
  max-width: 1500px;
  margin: 0;
  max-height: 50px;
}
.section-title > h2 {
  margin: 0;
  padding: 0;
  color: #424242;
  font-weight: 900;
  font-size: 2.2rem;
  max-width: 670px;
  width: 100%;
}

@media only screen and (max-width: 540px) {
  .section-title {
    margin: 15px 0 0 0;
    padding: 45px 20px 45px 20px;
  }
  .section-title > h2 {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 370px) {
  .section-title {
    margin: 15px 0 0 0;
    padding: 25px 20px 25px 20px;
  }
  .section-title > h2 {
    font-size: 1.1rem;
  }
}
@media only screen and (max-width: 700px) {
  .left-corner-wrap {
    position: fixed;
    width: 211px;
    height: 83px;
    top: 0px;
    left: 0px;
    right: unset;
    filter: drop-shadow(0px 3px 30px rgba(0, 0, 0, 0.25));
  }

  .right-corner-wrap {
    position: fixed;
    width: 103px;
    height: 170px;
    top: 0px;
    left: unset;
    right: 0px;
    filter: drop-shadow(0px 3px 30px rgba(0, 0, 0, 0.25));
  }
}
.project-wrapper {
  position: relative;
  width: 100%;
  padding-top: 120.72%;
}

.project {
  overflow: hidden;
  position: absolute;
  top: 0;
  margin: 10px;
  width: auto;
  background-color: transparent;
  filter: drop-shadow(0px 3px 30px rgba(0, 0, 0, 0.25));
}
.project > img {
  width: 100%;
}

.project-title {
  width: 100%;
  position: absolute;
  height: auto;
  margin: 0;
  padding: 30px 30px 30px 30px;
  background-color: rgba(1, 1, 1, 0.5);
  top: 0px;
  left: 0px;
  color: white;
  z-index: 10;
}
.project-title > h4 {
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
  font-weight: 900;
  letter-spacing: 4px;
}
.project-title > h3 {
  margin: 0;
  padding: 10px 0 10px 0;
  font-size: 1.5rem;
  font-weight: 900;
  letter-spacing: 2px;
}
.project-title > div > a {
  text-decoration: none;
  font-size: 1rem;
  letter-spacing: 3px;
  margin-top: 5px;
  color: white;
}
.project-title > div > a:hover {
  color: lightslategrey;
}
.project-title > div > span {
  margin: 0 5px 0px 0;
  padding: 0;
  font-size: 1rem;
  letter-spacing: 3px;
  margin-top: 10px;
  color: #d9d9d9;
}
.project-title > div > a > img {
  margin: 0 5px 0px 5px;
  padding: 0;
  width: 15px;
  height: 15px;
  color: #d9d9d9;
}

@media only screen and (max-width: 1500px) {
  .project-title {
    margin: 0;
    padding: 20px 20px 20px 20px;
  }
  .project-title > h4 {
    font-size: 1.1rem;
  }
  .project-title > h3 {
    margin: 0;
    padding: 5px 0 5px 0;
    font-size: 1.3rem;
  }
  .project-title > div > a {
    font-size: 0.9rem;
  }
  .project-title > div > span {
    font-size: 0.9rem;
  }
}
@media only screen and (max-width: 540px) {
  .project {
    margin: 5px;
  }

  .project-title {
    height: auto;
    margin: 0;
    padding: 15px 15px 15px 15px;
  }
  .project-title > h4 {
    font-size: 1rem;
  }
  .project-title > h3 {
    font-size: 1.3rem;
  }
  .project-title > div > a {
    margin-top: 4px;
    font-size: 1rem;
  }
}
@media only screen and (max-width: 370px) {
  .project {
    margin: 5px;
  }

  .project-title {
    margin: 0;
    padding: 10px 10px 10px 10px;
  }
  .project-title > h4 {
    font-size: 0.8rem;
  }
  .project-title > h3 {
    font-size: 1.1rem;
    margin: 0;
    padding: 5px 0 0 0;
  }
  .project-title > div > a {
    margin-top: 4px;
    font-size: 0.9rem;
  }

  .project-image {
    height: 225px;
  }
}