@import 'Variables';
@import 'Global';

.project-wrapper{
    position: relative;
    width:100%;
    padding-top: 120.72%;
}

.project {
    overflow: hidden;
    position: absolute;
    top: 0;
    margin: 10px;
    width: auto;
    background-color: transparent;
    filter: drop-shadow(0px 3px 30px rgba(0, 0, 0, 0.25));

    & > img {
        width: 100%;
    }
}

.project-title {
    width: 100%;
    position: absolute;
    height: auto;
    @include marg-pad(0,(30px 30px 30px 30px));
    background-color: rgba(0.5, 0.5, 0.5, 0.5);
    top: 0px;
    left: 0px;
    color: white;
    z-index: 10;

    & > h4 {
        @include marg-pad(0,0);
        font-size: 1.2rem;
        font-weight: 900;
        letter-spacing: 4px;
    }

    & > h3 {
        @include marg-pad(0,(10px 0 10px 0));
        font-size: 1.5rem;
        font-weight: 900;
        letter-spacing: 2px;
    }

    & > div > a {
        text-decoration: none;
        font-size: 1rem;
        letter-spacing: 3px;
        margin-top: 5px;
        color: white;

        &:hover {
            color: lightslategrey;
        }
    }

    & > div > span {
        @include marg-pad((0 5px 0px 0),0);
        font-size: 1rem;
        letter-spacing: 3px;
        margin-top: 10px;
        color: #d9d9d9;
    }

    & > div > a > img {
        @include marg-pad((0 5px 0px 5px),0);
        width: 15px;
        height: 15px;
        color: #d9d9d9;
    }
}

@media only screen and (max-width:1500px) {
    .project-title {
        @include marg-pad(0,(20px 20px 20px 20px));

        & > h4 {
            font-size: 1.1rem;
        }

        & > h3 {
            @include marg-pad(0,(5px 0 5px 0));
            font-size: 1.3rem;
        }

        & > div > a {
            font-size: 0.9rem;
        }

        & > div > span {
            font-size: 0.9rem;
        }
    }
}

@media only screen and (max-width:540px) {
    .project {
        margin: 5px;
    }
    .project-title {
        height: auto;
        @include marg-pad(0,(15px 15px 15px 15px));

        & > h4 {
            font-size: 1rem;
        }

        & > h3 {
            font-size: 1.3rem;
        }

        & > div > a {
            margin-top: 4px;
            font-size: 1rem;
        }
    }
}

@media only screen and (max-width:370px) {
    .project {
        margin: 5px;
    }
    .project-title {
        @include marg-pad(0,(10px 10px 10px 10px));

        & > h4 {
            font-size: 0.8rem;
        }

        & > h3 {
            font-size: 1.1rem;
            @include marg-pad(0,(5px 0 0 0));
        }

        & > div > a {
            margin-top:4px;
            font-size: 0.9rem;
        }
    }
    .project-image {
        height: 225px;
    }
}