@import 'Variables';
.square-move.active {
    position: absolute;
    z-index: 0;
    margin: 0;
    padding: 0;
    animation: square-fade-in-anim 0.5s ease-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    visibility:hidden;
}
.square-rotate.active {
    position: absolute;
    z-index: 0;
    margin: 0;
    padding: 0;
    animation: square-rotate-anim 1.3s linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.square-color.active {
    position: absolute;
    transform: rotate(45deg);
    left: -60px;
    z-index: 0;
    margin: 0;
    padding: 0;
    animation: square-color-anim 1.3s linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    filter: drop-shadow(0px 3px 30px rgba(0, 0, 0, 0.25));
}


.square-color.color-1 {
    background-color: $first-color;
}
.square-color.color-2 {
    background-color: $second-color;
}
.square-color.color-3 {
    background-color: $third-color;
}

@keyframes square-rotate-anim {
    0% {
        transform: rotateY(0deg) ;
    }
    33% {
        transform: rotateY(120deg);
    }
    66% {
        transform: rotateY(240deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}

@keyframes square-color-anim {
    0% {
        filter: brightness(100%) drop-shadow(0px 3px 30px rgba(0, 0, 0, 0.25));
    }
    24.9% {
        filter: brightness(115%) drop-shadow(0px 3px 30px rgba(0, 0, 0, 0.25));
    }
    25% {
        filter: brightness(50%) drop-shadow(0px 3px 30px rgba(0, 0, 0, 0.25));
    }
    50% {
        filter: brightness(100%) drop-shadow(0px 3px 30px rgba(0, 0, 0, 0.25));
    }

    74.9% {
        filter: brightness(115%) drop-shadow(0px 3px 30px rgba(0, 0, 0, 0.25));
    }
    75% {
        filter: brightness(50%) drop-shadow(0px 3px 30px rgba(0, 0, 0, 0.25));
    }

    100% {
        filter: brightness(100%) drop-shadow(0px 3px 30px rgba(0, 0, 0, 0.25));
    }
}

@keyframes square-fade-in-anim {
    0% {
        transform: translateX(-100vw);
        visibility:visible;
    }

    100% {
        transform: translateX(0);
        visibility: visible;
    }
}