.squares-background-container {
    position: relative;
    max-width: 1340px;
    width: 0px;
    height: 640px;
    box-sizing: border-box;
    top: -20px;
    left: -100px;

    @for $i from 22 to 1 {
        & > .square-move:nth-child(23n - #{$i}) {
            animation-delay: ($i / 15) + s;

            & > .square-rotate {
                animation-delay: ($i / 15) + s;

                & > .square-color {
                    animation-delay: ($i / 15) + s;
                }

                & > .square-flash {
                    animation-delay: (3 + ($i / 15)) + s;
                }
            }
        }
    }
}

@media only screen and (max-width:1350px) {
    .squares-background-container {
        top:unset;
    }
}
@media only screen and (max-width:770px) {
    .squares-background-container {
        left: -70px;
    }
}

@media only screen and (max-width:699px) {
    .squares-background-container {
        left: 0px;
        height: 320px;
    }
}
@media only screen and (max-width:370px) {
    .squares-background-container {
        left: -10px;
        height: 320px;
    }
}


