.squares-background-container {
  position: relative;
  max-width: 1340px;
  width: 0px;
  height: 640px;
  box-sizing: border-box;
  top: -20px;
  left: -100px;
}

@media only screen and (max-width: 1350px) {
  .squares-background-container {
    top: unset;
  }
}
@media only screen and (max-width: 699px) {
  .squares-background-container {
    left: -45px;
    height: 320px;
  }
}
@media only screen and (max-width: 370px) {
  .squares-background-container {
    left: -60px;
    height: 320px;
  }
}